# --- PostgreSQL Database Configuration ---
POSTGRES_DB=roomflow_db
POSTGRES_USER=myuser
POSTGRES_PASSWORD=fialka

# --- Spring Boot Application Configuration ---
SERVER_PORT=8084

# --- JWT Configuration ---
# ВАЖНО: Для production сгенерируйте новый, сложный ключ (e.g., openssl rand -base64 32)
JWT_SECRET=a7d2e8f1c3b5a9e8d7f6c3a1b9e8d5f3c2a1b9d8e7f6c3a2b1d9e8f7c6a5b4d3
JWT_EXPIRATION=3600000