:root {
  --bg-main: #22272B;
  --bg-content: #2C3238;
  --bg-card: #383F45;
  --text-primary: #FFFFFF;
  --text-secondary: #ADB5BD;
  --primary-blue: #007BFF;
  --primary-blue-hover: #0056b3;
  --border-color: #495057;
  --green-active: #28a745;
  --red-cancel: #dc3545;
  --yellow-warning: #ffc107;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-main);
  color: var(--text-primary);
}

* {
  box-sizing: border-box;
}